.item {
  background: white;
  border: 1px solid #e8e8e8;
  margin-bottom: 1.3rem;
  padding: 1.3rem;
}

.item__message {
  font-size: 1.3rem;
  font-style: italic;
  font-weight: 300;
  text-align: center;
}

.item--position-1 {
  background: $first;
  border-color: $first-alt;
}

.item--position-2 {
  background: $second;
  border-color: $second-alt;
}
.item--position-3 {
  background: $third; 
  border-color: $third-alt;
}